.newsFeedN{
    /* border: 2px solid black; */
    /* display: flex;
    flex-direction: row; */
    width: 167vw;
    min-height: 100vh;
    padding-bottom: 5rem;
    /* border: 2px solid rebeccapurple; */
}

